.VideoInput {
    padding-left: 6rem;
}

.text {
    padding-left: 0rem;
    font-size: 20px;
}

.VideoInput button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
    margin-bottom: 1rem;
}

.VideoInput button:hover {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #433aec;
}

.videoInput_Text {
    border: 1x solid black;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    margin: 15px;
    margin-left: 0px;
}

.VideoInput_video {
    display: block;
    margin: 0;
    width: 90%;
    padding-left: 5rem;
}

.VideoInput_footer {
    width: 80%;
    min-height: 40px;
    line-height: 40px;
}